/* *{
    margin: 0;
    padding: 0;
} */
img{
    width: 10%;
    height: auto;
    justify-items: center;
}
h1{
    display: flex;
    justify-content: center;
    color: rgba(56, 77, 121, 0.993);
    font-size: 3em;
    border: 2px solid rgba(228, 200, 41, 0.897);
    box-shadow: 10px 5px 5px rgba(228, 200, 41, 0.897);
}
.profile-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#pseudo{
    color: rgb(255, 255, 255);
    font-size: 2em;
    border: 3px solid rgb(228, 200, 41);
    border-radius: 10%;
}
.actions{
    display: flex;
    width: 50%;
    justify-content: space-around;
}
button:hover{
    background-color: rgba(25, 184, 212, 0.801);
}
p{
    display: flex;
    width: 50%;
    align-items: center;
    text-align: center;
    font-size: 1.3em;
    font-family: "Itim", cursive;
    border: 3px dotted white;
    border-radius: 10%;
}
@media (max-width:600px){
    .profile-card{
        width: 100%;
        font-size: 0.5em;
    }
    #avatar{
        width: 55%;
    }
}
body{
    background-color: rgba(92, 110, 212, 0.74);
}